/* COLORS

Light Mode
body - background: rgb(255, 251, 237); 
.login-input - color: rgb(92, 122, 255) (background white);
.nav-bar - background: rgb(255, 180, 76);
.nav-text - color: rgb(255, 255, 255);
.nav-text:hover - color: rgb(228, 230, 255);
#search-div - background: rgb(255, 136, 52);
#search-bar - color: rgb(92, 122, 255); (background white)


*/

.App-container {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100vw;
}

.button {
  background-color: rgb(93, 174, 208);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 50%;
}

.button:hover {
  background-color: rgb(113, 194, 229);
}

.button:active {
  transform: scale(.95);
}

.error {
  color: rgb(255, 91, 91);
}

form {
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.form-label {
  height:0;
  margin: 0;
}

