/* COLORS

Light Mode
button-light-blue - rgb(103, 148, 255)
button-dark-blue -  rgb(0, 19, 60);
text-blue - rgb(92, 122, 255)
white (duh) - rgb(255, 255, 255)
navbar-blue - rgb(128, 151, 255)

Dark Mode?
nav-blue - rgb(0, 20, 67)
body-blue - #090033
text-gold - rgb(131, 78, 0) 

*/

.App-container {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100vw;
}

.button {
  background-color: rgb(93, 174, 208);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 50%;
}

.button:hover {
  background-color: rgb(113, 194, 229);
}

.button:active {
  transform: scale(.95);
}

.error {
  color: rgb(255, 91, 91);
}

form {
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.form-label {
  height:0;
  margin: 0;
}

