/* COLORS

Light Mode
body - background: rgb(255, 251, 237); 
.login-input - color: rgb(92, 122, 255) (background white);
.nav-bar - background: rgb(255, 180, 76);
.nav-text - color: rgb(255, 255, 255);
.nav-text:hover - color: rgb(228, 230, 255);
#search-div - background: rgb(255, 136, 52);
#search-bar - color: rgb(92, 122, 255); (background white)

Dark Mode 
button blue: rgb(93, 174, 208)
button blue hover: rgb(113, 194, 229)
button text color: #eee (just off-white)

*/

.exercise-page-holder {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  /* height: 100%;
  max-height: 100%; */
  position: absolute;
  top: 110px;
  bottom: 0px;
  width: 100%;
  min-width: 400px;

}

.exercise-card {  
  display: flex;
  background-color: var(--card-background);
  flex-direction: column;
  align-items: center;
  height: 10%;
  width: 100%;
  min-height: 190px;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
  transition: all .5s;
}

.selected-exercise-card {  
  display: flex;
  transform: scale(1.1);
  background-color: var(--card-background);
  flex-direction: column;
  align-items: center;
  height: 10%;
  width: 100%;
  min-height: 190px;
  border-radius: 30px;
  box-shadow: var(--box-shadow-active);
  transition: all .5s;
}

.exercise-card:hover, .selected-exercise-card:hover {
  transform: scale(1.1);
}

.exercise-card:active {
  transform: scale(1.05);
}

.exercise-details {
  display:flex;
  max-width: 800px;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
}

.exercise-details > * {
  display:flex;
  max-width: 440px;
  word-wrap: break-word;
  flex-direction: column;
  color: var(--card-text);
  transition: all .5s;
}

#card-description-div {
  position: relative;
  top: 0%;
}

#delete-exercise {
  width: 30px;
  height: 30px;
  background: none;
  margin-right: 25px;
  color: var(--nav-text);
  transition: all .5s;
}


#delete-exercise:hover {
  color: var(--button-delete-highlight)
}


#edit-exercise {
  width: 30px;
  height: 30px;
  background: none;
  color: var(--nav-text);
  transition: all .5s;
}


#edit-exercise:hover {
  color: var(--button-blue-highlight);
}


#new-exercise {
  height:30px;
  width: auto;
  font-size: 15px;
  background-color: var(--button-blue);
}


#new-exercise:hover {
  background-color: var(--button-blue-highlight);
}


#new-exercise:active {
  transform: scale(.95);
}

.exercise-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  height: 5px;
  padding-top: 15px;
  z-index: 7;
}

.form-input {
  border-radius: 10px;
  border: 1px solid rgb(0, 19, 60);
  background-color:rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(0, 19, 60);
  font-size: 18px;
  height: 35px;
  width: 220px;
  outline: 0;
}

.dock {
  position: relative;
  bottom:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--card-background);
  height: 100%;
  width: 100%;
  min-width: 400px;
  color: white;
  border-top:  5px solid var(--border);
  transition: all .5s;
}


#iframe {
  width: 33.3%;
  height: 100%;
  border-right: 1px solid black;
}

.iframe-placeholder {
  width: 33.3%;
  height: 100%;
  border-right: 1px solid black;
}

#exercise-notes {
  padding: 0 30px;
}

.non-dock-holder {
  position: relative;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 60%;
  min-width: 400px;
}

.exercise-cards-holder {
  justify-content: left;
  display: grid;
  grid-template-rows: repeat(260px);
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  row-gap: 50px;
  column-gap: 50px;
  padding: 30px 0;
  padding-left: 50px;
}


.dock-holder {
  position: relative;
  bottom: 0px;
  height: 40%;
  max-height: 40vh;
  width: 100%;
  min-width: 400px;
}

@media screen and (max-width: 500px) {
  .sidebar {
      display: none !important;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: var(--card-background);
  align-items: center;
  width:25%;
  min-width: 150px;
  height: 100%;
  max-height: 100%;
  justify-content: space-between;
  border-right: 1px solid var(--border);
  transition: all .5s;
}

.sidebar-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:100%;
  color: var(--card-text);
  transition: all .5s;
}

.sidebar-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}

.sidebar-image {
  height: 60%;
  width: 100%;
}

#new-exercise {
  margin-bottom: 30px;
  border-radius: 12px;
  height:30px;
  width: auto;
  font-size: 15px;
  background-color: var(--button-blue);
}


#new-exercise:hover {
  background-color: var(--button-blue-highlight);
}


#new-exercise:active {
  transform: scale(.95);
}

#exercise-notes-div {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 33.3%;
  height: 100%;
  border-left: 1px solid var(--border);
  color: var(--card-text);
}

.edit-notes-div {
  text-align: left;
  width: 100%;
}
