/* COLORS

Light Mode
body - background: rgb(255, 251, 237); 
.login-input - color: rgb(92, 122, 255) (background white);
.nav-bar - background: rgb(255, 180, 76);
.nav-text - color: rgb(255, 255, 255);
.nav-text:hover - color: rgb(228, 230, 255);
#search-div - background: rgb(255, 136, 52);
#search-bar - color: rgb(92, 122, 255); (background white)

Dark Mode?
nav-blue - rgb(0, 20, 67)
body-blue - #090033
text-gold - rgb(131, 78, 0) 

*/

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 88vh;
  overflow-y: hidden;
}

#login-logo {
  padding-top: 30px;
  height:300px;
  width:300px;
  cursor: pointer;
  box-sizing: content-box;
  user-select: none;
}

#login-logo:hover {
  transform: scale(1);
  box-sizing: content-box;
}

#login-logo:active {
  transform: scale(.95);
  box-sizing: content-box;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 400px;
  background: none;
}

.login-form {
  background: none;
  width: 100%;
  height: 100%;
}

.login-input {
  background-color:var(--search-bar);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-size: 18px;
  height: 150%;
  outline: 0;
  padding: 4px 20px 0;
  width: 17em;
}

.login-input-div {
  height: 50px;
  padding: 10px;
}

.login-button-div {
  text-align: center;
  align-items: center;
}

.login-button-div button.button {
  background-color: var(--button-blue);
  color: rgb(255, 255, 255);
  width: 17em;
  margin-top: 10px;
}

.login-button-div button.button:hover {
  background-color: rgb(113, 189, 222);
  width: 17em;
}

#sign-up-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  color: var(--button-blue);
  font-weight: bold;
}

#sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  color: var(--button-blue);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

#sign-up:hover {
  color: rgb(133, 205, 235);
}

a {
  color: var(--button-blue)
}

#log-in {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  color: var(--button-blue);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

#log-in:hover {
  color: rgb(133, 205, 235);
}

#demo {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  color: var(--button-blue);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: rgb(133, 205, 235);
}

.shake {
  animation: shake 0.3s; 
  animation-iteration-count: infinite; 
  background: none;
  width: 100%;
  height: 100%;
  }
  
  @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
  }