

/* DIV */

#metronome {
  height: 100%;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metronome {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.bpm-slider input {
  width: 80%;
  padding: 20px 0;
}

.metronome button:first-of-type {
  height: 40px;
  width: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgb(255, 152, 61);
  align-self: center;
}

#start-met {
  align-self: center;
  height: 40px;
  width: 100px;
  margin: 0;
}