/* COLORS

Light Mode
body - background: rgb(255, 251, 237); 
.login-input - color: rgb(92, 122, 255) (background white);
.nav-bar - background: rgb(255, 180, 76);
.nav-text - color: rgb(255, 255, 255);
.nav-text:hover - color: rgb(228, 230, 255);
#search-div - background: rgb(255, 136, 52);
#search-bar - color: rgb(92, 122, 255); (background white)

Dark Mode?
nav-blue - rgb(0, 20, 67);
body-blue - #090033;
text-gold - rgb(131, 78, 0);

*/

.nav-bar {
  display: flex;
  justify-content: space-between;
  background: var(--navbar);
  height: 70px;
  width: 100%;
  min-width: 1035px;
  height: 70px;
  transition: all .5s;
}

#navbar-logo {
  padding-left: 0;
  cursor: pointer;
  width: 40px;
  height: 100%;
  cursor: auto;
  box-sizing: content-box;
}

#navbar-logo-light {
  padding-left: 0;
  cursor: pointer;
  width: 32px;
  padding-left: 5px;
  height: 72px;
  cursor: auto;
  box-sizing: content-box;
}

#logo-username {
  display: flex;
  flex-direction: row;
}

.nav-text-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  width:33.3%;
}

.nav-text-holder:first-of-type {
  justify-content: left;
}

.nav-text-holder:last-of-type {
  justify-content: right;  
}

.nav-text-holder > * {
  padding: 0 10px;
  cursor: pointer;
}

.nav-text {
  color: var(--nav-text);
  text-decoration: none;
}

.nav-text:hover {
  color: var(--nav-text-hover);
}

#search-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--search-div);
  height: 40px;
  width: 100%;
  min-width: 1035px;
  transition: all .5s;
}

#search-bar {
  background-color: var(--search-bar);
  border-radius: 8px;
  border: 0;
  box-sizing: border-box;
  font-size: 15px;
  height: 28px;
  outline: 0;
  margin-left: 5px;
  padding-left: 10px;
  width: 180px;
  transition: all .5s;
}

.toggle-light-mode {
  background: none;
  height: 100%;
  margin-right: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}