/* COLORS

Light Mode
button-light-blue - rgb(103, 148, 255)
button-dark-blue -  rgb(0, 19, 60);
text-blue - rgb(92, 122, 255)
white (duh) - rgb(255, 255, 255)
navbar-blue - rgb(128, 151, 255)

Dark Mode?
nav-blue - rgb(0, 20, 67)
body-blue - #090033
text-gold - rgb(131, 78, 0) 

*/

.profile-holder {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 86vh;
  margin-left: auto;
  margin-right: auto;
}

#left-profile-page {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  min-height: 675px;
  flex: 1 0 40%; 
  max-width: 40%;
  min-width: 450px;
}

#right-profile-page {
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: center;
  height: 100%;
  min-height: 675px;
  flex: 1 0 60%;
  max-width: 60%;
}

.main-profile-img {
  display: flex;
  height: 30vh;
  width: 30vh;
  min-height: 200px;
  min-width: 200px;
  max-height: 450px;
  max-width: 450px;
  align-self: center;
  flex: 0 0 auto;
  border-radius: 50%;
}

.profile-details {
  display:flex;
  max-height: 100%;
  flex-direction: column;
  color: rgb(251, 251, 251);
}

.profile-details > h3 {
  margin-top: 10px;
}

.created-details {
  display:flex;
  flex-direction: row;
  column-gap: 7px;
  max-height: 100%;
  color: rgb(231, 231, 231);
}

.right-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  min-height: 190px;
  width: 90%;
  color: white;
  min-width: 550px;
  margin: 20px 0;
  box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.3), 
    0 3px 7px rgba(0, 0, 0, 0.3), 
    inset 0 1px rgb(104, 104, 104),
    inset 0 -3px 2px rgba(0,0,0,0.25);
  border-radius: 30px;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
  max-height: 100%;
  padding-top: 6vh;
  align-items: center;
  justify-content: space-between;
  column-gap: 3vh;
}

#delete-account {
  width: 120px;
  background-color: rgb(108, 72, 72);
}

#delete-account:hover {
  background-color: rgb(143, 96, 96);
}

#edit-account {
  width: 120px;
}