/* COLORS

Light Mode
button-light-blue - rgb(103, 148, 255)
button-dark-blue -  rgb(0, 19, 60);
text-blue - rgb(92, 122, 255)
white (duh) - rgb(255, 255, 255)
navbar-blue - rgb(128, 151, 255)

Dark Mode?
nav-blue - rgb(0, 20, 67)
body-blue - #090033
text-gold - rgb(131, 78, 0) 

*/

.routine-cards-holder {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 30% 30% 30%;
    padding-top: 15px;
}

.routine-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  min-height: 190px;
  margin: 20px 0;
  box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.3), 
    0 3px 7px rgba(0, 0, 0, 0.3), 
    inset 0 1px rgba(255,255,255,1),
    inset 0 -3px 2px rgba(0,0,0,0.25);
  border-radius: 30px;
  margin: 0 40px;
  cursor: pointer;
}

.routine-card:hover {
  transform: scale(1.1);
}

.routine-card:active {
  transform: scale(1.05);
}

.routine-details {
  display:flex;
  max-width: 800px;
  flex-direction: column;
  color: rgb(0, 19, 60);
  text-align: center;
}



.routine-details > * {
  display:flex;
  max-width: 440px;
  word-wrap: break-word;
  flex-direction: column;
  color: rgb(0, 19, 60);
}

#card-description-div {
  position: relative;
  top: 0%;
}

#delete-routine {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 132, 132);
  margin-right: 25px;
}

#edit-routine {
  width: 30px;
  height: 30px;
  background-color: rgb(103, 148, 255);
  margin-right: 10px;
}

#new-routine {
  height:30px;
  width: auto;
  font-size: 15px;
  margin-left: 20px;
  background-color: rgb(80, 132, 255);
}

#new-routine:hover {
  background-color: rgb(101, 147, 255);
}

#new-routine:active {
  transform: scale(.95);
}

.routine-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  height: 0;
  z-index: 7;
}

.form-input {
  border-radius: 10px;
  border: 1px solid rgb(0, 19, 60);
  background-color:rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(0, 19, 60);
  font-size: 18px;
  height: 35px;
  width: 220px;
  outline: 0;
}


/* ---------MODAL---------- */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid rgb(226, 239, 255);
  border-radius: 30px;
  z-index: 10;
  background-color: white;
  height: 480px;
  width: 200px;
  max-width: 70%;
}

.modal-active {
  transform: translate(-50%, -50%) scale(1);
  position: fixed;
  top: 40%;
  left: 50%;
  transition: 200ms ease-in-out;
  border: 1px solid rgb(0, 19, 60);
  border-radius: 30px;
  z-index: 10;
  background-color: rgb(0, 74, 143);
  color: rgb(243, 247, 255);
  height: 500px;
  width: 300px;
  text-align: center;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(0, 19, 60);
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(222, 232, 255);
}

.modal-header .close-button:hover {
  color: rgb(255, 45, 45);
}

#modal-submit {
  background-color: rgb(91, 113, 255)
}

#modal-submit:hover {
  background-color: rgb(68, 93, 255)
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;

}

#overlay-active {
  opacity: .5;
  pointer-events: all;
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 9;
}